In [5]:
import numpy as np
import pandas as pd
import scipy as sp



df_11 = pd.read_pickle('CD11Research/[11].pkl')

In [6]:
df_11.head()

,FLIGHT_ID,TRACK_ID,X,Y,MODE_C,CALLSIGN,ICAO_ACTYPE,DEST,ADEP,FLIGHT_TYPE,RADAR,LANDING_TIME,TIME,TAKEOFF_TIME
0,5170097,135322667,9586,18498,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:01,NaN
1,5170097,135322667,9512,18286,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:15,NaN
2,5170097,135322667,9440,18076,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:30,NaN
3,5170097,135322667,9416,18004,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:35,NaN
4,5170097,135322667,9392,17934,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:39,NaN

In [7]:
df_11E = df_11.head(5000)
df_11E

,FLIGHT_ID,TRACK_ID,X,Y,MODE_C,CALLSIGN,ICAO_ACTYPE,DEST,ADEP,FLIGHT_TYPE,RADAR,LANDING_TIME,TIME,TAKEOFF_TIME
0,5170097,135322667,9586,18498,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:01,NaN
1,5170097,135322667,9512,18286,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:15,NaN
2,5170097,135322667,9440,18076,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:30,NaN
3,5170097,135322667,9416,18004,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:35,NaN
4,5170097,135322667,9392,17934,400.0,KLM7451,B737,EHAM,ENGM,INBOUND,ARTACC,22-10-2010 0:51:33,22-10-2010 0:20:39,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5170137,135325014,5668,4304,164.0,KLM872,MD11,EHAM,VIDP,INBOUND,ARTACC,22-10-2010 3:42:35,22-10-2010 3:24:58,NaN
4996,5170137,135325014,5630,4272,163.0,KLM872,MD11,EHAM,VIDP,INBOUND,ARTACC,22-10-2010 3:42:35,22-10-2010 3:25:03,NaN
4997,5170137,135325014,5594,4236,162.0,KLM872,MD11,EHAM,VIDP,INBOUND,ARTACC,22-10-2010 3:42:35,22-10-2010 3:25:08,NaN
4998,5170137,135325014,5564,4194,162.0,KLM872,MD11,EHAM,VIDP,INBOUND,ARTACC,22-10-2010 3:42:35,22-10-2010 3:25:12,NaN
4999,5170137,135325014,5538,4150,161.0,KLM872,MD11,EHAM,VIDP,INBOUND,ARTACC,22-10-2010 3:42:35,22-10-2010 3:25:17,NaN

In [35]:
import plotly.express as px
df = df_11
df.astype({'FLIGHT_ID': 'str'}).dtypes

fig = px.line_3d(df, x='X', y='Y', z='MODE_C',
              color='FLIGHT_ID')
fig.show()

ValueError: Cannot convert non-finite values (NA or inf) to integer

AttributeError: 'numpy.float64' object has no attribute 'type'

In [32]:
df.loc[df[int'MODE_C' < 0]]

ValueError: invalid literal for int() with base 10: 'MODE_C'